/* colores */

$section-background-color: rgb(200, 246, 147);
$header-background-color: darkkhaki;

$section-border-color: burlywood;
$regular-border-color: rgb(0, 100, 0);

$color-enlace-primario: greenyellow;
$color-enlace-footer: rgb(151, 255, 51);

$h1-h3-color: rgb(158, 240, 26);
$h2-color:rgb(34, 184, 17);

$color-black: black;
$color-green: green;
$color-lightgray:  lightgray;
$color-darkolivegreen: darkolivegreen;

/* header px */
$header-px-prom: 20px;
$main-px-prom: 100px;