/* colores */

$section-background-color: rgb(200, 246, 147);
$header-background-color: darkkhaki;

$section-border-color: burlywood;
$regular-border-color: rgb(0, 100, 0);

$color-enlace-primario: greenyellow;
$color-enlace-footer: rgb(151, 255, 51);

$h1-h3-color: rgb(101, 151, 21);
$h2-color:rgb(71, 197, 21);

$color-black: black;
$color-green: green;
$color-lightgray:  lightgray;
$color-darkolivegreen: darkolivegreen;

$card-filosofia-color: rgb(21, 255, 0);

/* header px */
$header-px-prom: 20px;
$main-px-prom: 100px;